html
  height 100%

body
  background #34495E
  height 100%

.clear
  clear both

.sprite
  background-image url(../img/sprite.png)

@require '../layouts/aside.styl'

.white-background
  position absolute
  min-height 100%
  background #fff
  left 50%
  width 50%
  z-index -20

.top-nav-background
  position absolute
  height 53px
  background #ECF0F1
  width 50%
  left 50%
  border-bottom 1px solid #DBE0E3
  z-index -10

.page-wrapper
  margin 0 auto
  width 976px
  height 100%

.main-content
  max-width 765px
  width 100%
  background #fff
  float left
  font 14px 'Segoe UI'
  line-height 120%
  color #535353
  min-height 100%
  a
    outline none
  .top-line
    background #ECF0F1
    height 39px
    border-bottom 1px solid #DBE0E3
    padding 14px 0 0 0
    ul
      padding 3px 0 0 30px
      margin 0
      a
        color #34495E
        text-decoration none
      li
        list-style none
        float left
        font 16px 'Segoe UI Semibold'
        padding-bottom 13px
        margin-right 37px
        &.active
          border-bottom 2px solid #3498DB
    .user
      float right
      a
        font 14px 'Segoe UI'
        color #40536A
        text-decoration none
        margin-right 6px
        p
          float left
        .open-profile-button
          background-position -14px -4px
          width 7px
          height 4px
          float right
          margin 9px 0 0 7px
  .tasks
    padding-left 25px
    ul
      padding-left 30px
      li
        list-style none
        border-top 1px solid #E5E5E5
        border-bottom 1px solid #E5E5E5
        height 43px
    h1
      font 30px 'Segoe UI'
      color #1F1F1F
      margin 19px 0 34px 2px

.page-404
  padding-left 28px
  h1
    font-size 55px
    color #4C4C4C
    margin 40px 0 32px 0
  h2
    font-size 16px
    font-family 'Segoe UI Semibold'
    text-transform uppercase
    color #4C4C4C
  p
    font-family 'PT Sans'
    margin-top 27px
    line-height 180%
    a
      color #3F9AE0

.search-page
  padding-left 26px
  h1
    font 30px 'Segoe UI'
    color #4C4C4C
    margin 19px 0 34px 0
  .search-block
    background #F0F2F4
    border 1px solid #D7DCE1
    input[type=submit]
      background #5D778F
      color #fff
      height 29px
      width 80px
      border 0
    input[type=search]
      font-family 'Myriad Pro'
      background #fff
      color #363636
      height 15px
      width 455px
      border 1px solid #BEC2C4
      padding 6px 7px
