doctype html
html
  head
    block title
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='css/normalize.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    block content
    script(src='js/jquery.min.js')
    script(src='js/script.js')
