doctype html
html
  head
    block title
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.0.3.js')
    script(src='js/script.js')
  body
    block content
