extends ../layouts/base-layout.jade

block title
  title Страница не найдена

block content
  // Tricks for beautiful background
  .white-background
  .top-nav-background
  .page-wrapper
    // Aside
    .aside
      .logotype
        a(href='')
          img(src='img/logotype.jpg', alt='Логотип')
      .search
        input(type='search', placeholder='Поиск')
      // Add buttons
      .add-buttons-wrapper
        a(href='#')
          .add-task
            img(src='img/add-task.jpg', alt='Добавить задание')
        a(href='#')
          .add-document
            img(src='img/add-document.jpg', alt='Добавить документ')
        .clear
      .user-folder
        .folder-icon.sprite
        a(href='#') Грушевский Юрий
      // Tasks list
      .tasks-heading
        a(href='#')
          .open-list-icon.sprite
        a(href='#')
          .tasks-icon.sprite
          | Задания
      ul
        a(href='#')
          li
            .tasks-icon.sprite
            | На исполнение
            span 2
        a(href='#')
          li
            .tasks-icon.sprite
            | Отправленные
        a(href='#')
          li
            .tasks-icon.sprite
            | На контроле
        a(href='#')
          li
            .tasks-icon.sprite
            | На согласование
      // Document list
      .documents-heading
        a(href='#')
          .open-list-icon.sprite
        a(href='#')
          .documents-icon.sprite
          | Мои документы
      ul
        a(href='#')
          li
            .documents-icon.sprite
            | Входящие
        a(href='#')
          li
            .documents-icon.sprite
            | Исходящие
        a(href='#')
          li
            .documents-icon.sprite
            | На согласование
            span 1
        a(href='#')
          li
            .documents-icon.sprite
            | Произвольные
      .trash
        .trash-icon.sprite
        a(href='#') Корзина
    // Main content
    .main-content
      // Top navigation
      .top-line
        ul
          li.active
            a(href='#') Навигатор
          li
            a(href='#') Справочник
        .user
          a(href='#')
            | Грушевский Юрий
            .open-profile-button.sprite
      .page-404
        h1 404
        h2 Страница не найдена
        p
          | К сожалению такой страницы не существует.
          br
          | Возможно вы ввели неправильный адрес или произошла ошибка.
        p
        p
          | Вы можете
          a(href='') вернуться назад
          | .
    .clear
