extends ../layouts/base-layout

block title
  title DocsVision | Поиск

block content
  // Tricks for beautiful background
  .white-background
  .top-nav-background
  .page-wrapper
    // Aside
    include ../layouts/aside
    // Main content
    .main-content
      // Top navigation
      .top-line
        ul
          li.active
            a(href='#') Навигатор
          li
            a(href='#') Справочник
        .user
          a(href='#')
            | Грушевский Юрий
            .open-profile-button.sprite
      .search-page
        h1 Поиск
        .search-block
          .left-column
            label(for='keywords') Ключевые слова
            label(for='author')
              | Автор/исполнитель
              label Период
          .right-column
            input#keywords(type='search')
            input(type='submit', value='Найти')
            br
            input#author
            select#optlist(multiple='multiple')
              option(value='1') Арбузов К.А.
              option(value='2') Астахов К.З.
              option(value='3') Беликов Р.А.
              option(value='4') Баранов В.З.
              option(value='4') Быков В.Н.
              option(value='4') Волков Н.А.
            span
              a(href='') Справочник сотрудников
            input(type='text')
            input(type='text')
            input(type='checkbox')
            span Искать по вложениям
    .clear
